{% extends 'layout.html' %} {% load static %} {% load custom_filters %}
{% block content %}
<div class="container-fluid">
  <h1 class="display-2">{{ object.name }}</h1>

  <div class="card">
    <div class="card-header">
      Sponsors {% if is_creator %}<a
        class="btn btn-primary"
        href="{% url 'sponsorCreate' object.uuid %}"
        >Add new</a
      >{% endif %}
    </div>
    <div class="card-body">
      <div class="card-text">
        {% for sponsor in sponsors %}
        <img
          src="{{ MEDIA_URL }}{{ sponsor.logo }}"
          alt="{{ sponsor.name }}"
          title="{{ sponsor.name }}"
          class="img-thumbnail logo-spons"
        />
        {% endfor %}
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs" id="tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="info-tab"
        data-toggle="tab"
        href="#info"
        role="tab"
        >Info</a
      >
    </li>
    <li clss="nav-item" role="presentation">
      <a
        class="nav-link"
        id="participants-tab"
        data-toggle="tab"
        href="#participants"
        role="tab"
        >Participants</a
      >
    </li>
  </ul>

  <div class="row">
    <div class="col-9">
      <div class="tab-content" id="tab-content">
        <div class="tab-pane fade show active" id="info" role="tabpanel">
          <div class="card">
            <div class="card-header">Description</div>
            <div class="card-body">
              <p>{{ object.description }}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-header">Prizes</div>
            <div class="card-body">
              <p>{{ object.prizes }}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-header">Location</div>
            <div class="card-body">
              <div class="row">
                <div class="col">{{ object.location_details }}</div>
                <div
                  id="event-map-id"
                  class="event-map-small col"
                  data-name="{{ object.name }}"
                  data-lat="{{ object.location_lat }}"
                  data-lng="{{ object.location_long }}"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="participants" role="tabpanel">
          <div class="card">
            <div class="card-header">Participants</div>
            <div class="card-body">
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#bracketModal"
                id="bracketShowBtn"
              >
                Show bracket
              </button>
              <div>
                {% for participant in participants %} {{ participant.user }} {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">Tournament Details</div>
        <div class="card-body">
          <dl>
            <dt class="dict-long-head">Event starts</dt>
            <dd>{{ object.event_start_date }}</dd>
            <dt>Entry deadline</dt>
            <dd>{{ object.entry_deadline }}</dd>
            <dt class="dict-long-head">Participants</dt>
            <dd>{{ object.current_participant_no }} / {{ object.entry_limit }}
              {% if can_participate %}
              <a href="{% url 'participantCreate' object.uuid %}" class="btn btn-primary" >Participate</a>
              {% endif %}
            </dd>
            <dt class="dict-long-head">Organiser</dt>
            <dd>{{ object.organiser_name }}</dd>
            <dt class="dict-long-head">Game format</dt>
            <dd>{{ object.game_format|longifyGameFormat }}</dd>
            <dt class="dict-long-head">Deck format</dt>
            <dd>{{ object.deck_format|longifyDeckFormat }}</dd>
            <dt class="dict-long-head">Added by</dt>
            <dd>{{ object.creator }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade bracket-modal"
  id="bracketModal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog bracket-modal-dialog">
    <div class="modal-content bracket-modal-content" id="bracketContentId">
      <div class="modal-header">
        <h5 class="modal-title" id="bracketModalLabel">Tournament Bracket</h5>
      </div>
      <div class="modal-body">
        <svg id="tournament-bracket-id" class="bracket"></svg>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src="{% static 'tournaments/tournamentBracket.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'tournaments/tournamentDetails.js' %}"
></script>
{% endblock content %} {% block extra_libraries %}
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
{% endblock extra_libraries %}
