{% extends 'layout.html' %}
{% load humanize %}

{% block content %}
{% for tournament in tournaments %}
  <div class="card">
    <div class="card-header">{{ tournament.name }}</div>
    <div class="card-body">
      <div title="Event date"><i class="far fa-calendar padded-icon"></i>{{ tournament.event_date|date:"F jS Y" }}</div>
      <div title="Event time"><i class="far fa-clock padded-icon"></i>{{ tournament.event_date|date:"P" }}</div>
      <div title="Entry deadline"><i class="far fa-calendar-times padded-icon"></i>{{ tournament.entry_deadline|naturaltime }}</div>
      <div title="Participants"><i class="fas fa-users padded-icon"></i>Ileś / {{ tournament.entry_limit }}</div>
      <div title="Format">{{ tournament.game_format }}, {{ tournament.deck_format }}</div>
    </div>
    <div class="card-footer">
      <a href="{% url 'tournamentDetail' tournament.id %}"><button type="button" class="button">Show info</button></a>
    </div>
  </div>
{% empty %}
<div class="display-1 jumbotron mx-auto">
  There are no tournaments
</div>
{% endfor %}

{% endblock content %}
