{% extends 'layout.html' %}
{% load humanize %}
{% load custom_filters %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <div class="row row-cols-1 row-cols-md-2">
        {% for tournament in tournaments %}
        <div class="col mb-4">
          <div class="card">
            <div class="card-header h4">{{ tournament.name }}</div>
            <div class="card-body">
              <div title="Event start date"><i class="far fa-calendar padded-icon"></i>{{ tournament.event_start_date|date:"F jS Y" }}</div>
              <div title="Event start time"><i class="far fa-clock padded-icon"></i>{{ tournament.event_start_date|date:"P" }}</div>
              <div title="Entry deadline"><i class="far fa-calendar-times padded-icon"></i>{{ tournament.entry_deadline|naturaltime }}</div>
              <div title="Participants"><i class="fas fa-users padded-icon"></i>{{ tournament.current_participant_no }} / {{ tournament.entry_limit }}</div>
              <div title="Format">{{ tournament.game_format|longifyGameFormat }}, {{ tournament.deck_format|longifyDeckFormat }}</div>
              <a href="{% url 'tournamentDetail' tournament.uuid %}"><button type="button" class="btn btn-primary m-1">Show info</button></a>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="display-1 jumbotron mx-auto">
          There are no tournaments
        </div>
        {% endfor %}
      </div>
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previos_page_number }}">Previous</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
    <div class="col">
      <div class="card infobox">
        <div class="card-body">
          <h5 class="card-title">Become an organiser</h5>
          <p class="card-text">If you are organising a tournament and want to announce it on our Portal, 
            {% if user.is_authenticated %}
            click below.</p><a href="{% url 'tournamentCreate' %}" class="card-link">Announce a tournament</a>
            {% else %}
            please login or signup.</p>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
