{% extends "layout.html" %} {% block content %}
<div class="container">
  {% for field in form %} {% if field.errors %}
  <div class="alert alert-danger">{{ field.errors }}</div>
  {% endif %} {% endfor %}
  <h1 class="display-2">Participate in {{ tournament.name }}</h1>
  <form action="" method="POST" enctype="multipart/form-data">
    <fieldset class="form-group">
      {% csrf_token %} {% for field in form %}
      <div>
        {{ field.label_tag }} {{ field }} {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
      {% endfor %}
      <input type="submit" value="Participate" class="btn btn-primary mt-2" />
    </fieldset>
  </form>
</div>
{% endblock %}
