{% extends "layout.html" %} {% block content %}
<div class="container">
  {% for field in form %} {% if field.errors %}
  <div class="alert alert-danger">{{field.label}}{{ field.errors }}</div>
  {% endif %} {% endfor %}
  <h1 class="display-2">Add tournament sponsor</h1>
  <form action="" method="POST" enctype="multipart/form-data" id="form">
    <fieldset class="form-group">
      {% csrf_token %} {% for field in form %}
      <div>
        {{ field.label_tag }} {{ field }} {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
      {% endfor %}
      <input type="button" value="Add sponsor" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-primary mt-3" />
    </fieldset>
  </form>
</div>
<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              Confirm Submit
          </div>
          <div class="modal-body">
              Are you sure? This operation cannot be undone.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a href="#" id="modalSubmit" class="btn btn-primary success">Add sponsor</a>
          </div>
      </div>
  </div>
</div>
<script type="text/javascript">
  $("#modalSubmit").click(()=>{
      $("#form").submit();
  });
  $(document).keypress(
  function(event){
    if (event.which == '13') {
      $("#confirm-submit").modal("show");
      event.preventDefault();
    }
});
</script>
{% endblock %}
