{% extends "layout.html" %} {% load custom_filters %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-9">
      <div>
        <h3 class="display-3">Comming up</h3>
        <table class="table">
            {% for participant in tournaments_comming_up %}
            <tr><td class="equal_width"><i class="far fa-calendar padded-icon" title="Event start date"></i> {{ participant.tournament.event_start_date }}</td><td class="equal_width"><a href="{% url 'tournamentDetail' participant.tournament.uuid %}">{{ participant.tournament.name }}</a></td></tr>
            {% endfor %}
        </table>
      </div>
      <div>
        {% if tournaments_organised_by_me %}
        <h3 class="display-3">Organised by me</h3>
        <table class="table">
            {% for tournament in tournaments_organised_by_me %}
            <tr><td class="equal_width"><i class="far fa-calendar padded-icon" title="Event start date"></i> {{ tournament.event_start_date }}</td><td class="equal_width"><a href="{% url 'tournamentDetail' tournament.uuid %}">{{ tournament.name }}</a></td></tr>
            {% endfor %}
        </table>
        {% endif %}
      </div>
    <div>
      {% if tournaments_past %}
      <h3 class="display-3">Past tournaments</h3>
      <table class="table">
          {% for participant in tournaments_past %}
          <tr><td class="equal_width"><i class="far fa-calendar padded-icon" title="Event start date"></i> {{ participant.tournament.event_start_date }}</td><td class="equal_width"><a href="{% url 'tournamentDetail' participant.tournament.uuid %}">{{ participant.tournament.name }}</a></td> </tr>
          {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img
          src="{{ user.email|gravatar:50 }}"
          class="card-img-top big-gravatar"
          alt="User logo"
        />
        <div class="card-body">
          <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
          <p class="card-text">{{user.email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
